<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <form action="<%= form.endpoint %>" method="post" enctype="multipart/form-data">
    Key to upload: 
    <input type="input" name="key" required /><br />

    Policy:
    <input name="policy" value="<%= form.policy %>" /><br />
    X-Amz-Algorithm:
    <input type="text" name="x-amz-algorithm" value="AWS4-HMAC-SHA256" /><br />
    X-Amz-Credential:
    <input type="text" name="x-amz-credential" value="<%= form.credential %>" /><br />
    X-Amz-Date:
    <input type="text" name="x-amz-date" value="<%= form.date %>" /><br />
    X-Amz-Signature:
    <input name="x-amz-signature" value="<%= form.signature %>" /><br />

    File: 
    <input type="file" name="file" required /><br />
    <!-- The elements after this will be ignored -->
    <input type="submit" name="submit" value="Upload to Amazon S3" />
  </form>
  
</html>